@model Ecommerce.DTOs.CategoryDto

@{
    var Categories = new SelectList(ViewBag.Categories , "Id", "Name");
}
<div class="form-group">
    <label asp-for="@Model.Name" class="col-form-label"></label>
    <input asp-for="@Model.Name" class="form-control" />
    <span asp-validation-for="@Model.Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label">Category</label>
    <select asp-for="@Model.CategoryId" asp-items="Categories" class="form-control">
        <option >-- Select Category --</option>
    </select>
    <span asp-validation-for="CategoryId" class="text-danger"></span>

</div>
